<%- include('../partials/header') %>
<h2></h2>
    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th>Color</th>
          <th>Variety</th>
          <th>Year</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% wines.forEach(function(w) { %>
          <tr>
            <td><%= w.wineLabel %></td>
            <td><%= w.wineColor %></td>
            <td><%= w.grapeVariety %></td>
            <td><%= w.wineYear %></td>
            <td><a href="/wines/<%= w._id %>">DETAILS</a></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <h4><a href="/wines/new">Add a new wine</a></h4>

    <%- include('../partials/footer') %>